<% if (theme.swiftype_key) { %>
<form class="search-form">
  <input type="search" id="st-search-input" class="search-form-input" placeholder="Search">
  <input type="submit" value="&#xF002;" class="search-form-submit">
</form>
<% } %>
