// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  padding: 6px 0;

  .logo {
     width: 36px;
     height: 36px;
     margin-right: 6px;
   }

   .logo-text {
     font-size: $logo-font-size;
     vertical-align: middle;
   }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
